:root {
/* colors */
--colors-brand-dark-gray-50: #7E7E77;
--colors-brand-dark-gray-100: #76766F;
--colors-brand-dark-gray-200: #696963;
--colors-brand-dark-gray-300: #61615C;
--colors-brand-dark-gray-400: #595954;
--colors-brand-dark-gray-500: #4A4A45;
--colors-brand-dark-gray-600: #3F3F3B;
--colors-brand-dark-gray-700: #373734;
--colors-brand-dark-gray-800: #32322F;
--colors-brand-dark-gray-900: #2A2A28;
--colors-brand-dark-gray-950: #20201E;
--colors-brand-dark-gray-1000: #1B1B18;
--colors-brand-light-gray-50: #F8F8F7;
--colors-brand-light-gray-100: #F3F3F1;
--colors-brand-light-gray-200: #EFEFEC;
--colors-brand-light-gray-300: #E7E7E4;
--colors-brand-light-gray-400: #E0E0DC;
--colors-brand-light-gray-500: #D9D9D4;
--colors-brand-light-gray-600: #CFCFC9;
--colors-brand-light-gray-700: #C7C7C1;
--colors-brand-light-gray-800: #C0C0B9;
--colors-brand-light-gray-900: #B6B6AF;
--colors-brand-light-gray-950: #ACACA5;
--colors-black: #000000;
--colors-white: #FFFFFF;
--colors-brand-primary-50: #FEF2F2;
--colors-brand-primary-100: #FFE1E1;
--colors-brand-primary-200: #FFC8C8;
--colors-brand-primary-300: #FFA3A2;
--colors-brand-primary-400: #FC6E6D;
--colors-brand-primary-500: #F54746;
--colors-brand-primary-600: #E22120;
--colors-brand-primary-700: #BE1817;
--colors-brand-primary-800: #9D1817;
--colors-brand-primary-900: #821B1A;
--colors-brand-primary-950: #470808;
--colors-brand-primary-1000: #3A0505;
/* spacing */
--spacing-0: 0px;
--spacing-1: 4px;
--spacing-2: 8px;
--spacing-3: 12px;
--spacing-4: 16px;
--spacing-5: 5px;
--spacing-6: 24px;
--spacing-7: 28px;
--spacing-8: 32px;
--spacing-9: 36px;
--spacing-10: 10px;
--spacing-11: 44px;
--spacing-12: 48px;
--spacing-14: 56px;
--spacing-16: 64px;
--spacing-20: 20px;
--spacing-24: 96px;
--spacing-28: 112px;
--spacing-32: 128px;
--spacing-36: 144px;
--spacing-40: 40px;
--spacing-44: 176px;
--spacing-48: 192px;
--spacing-52: 208px;
--spacing-56: 224px;
--spacing-60: 60px;
--spacing-64: 256px;
--spacing-72: 288px;
--spacing-80: 80px;
--spacing-96: 0px;
--spacing-px: 1px;
--spacing-0․5: 2px;
--spacing-1․5: 6px;
--spacing-2․5: 10px;
--spacing-3․5: 14px;
--spacing-999: 999px;
/* fontSize */
--fontSize-xs: 12px;
--fontSize-9xl: 144px;
--fontSize-lg: 18px;
--fontSize-base: 16px;
--fontSize-sm: 14px;
--fontSize-8xl: 96px;
--fontSize-7xl: 72px;
--fontSize-6xl: 60px;
--fontSize-5xl: 48px;
--fontSize-4xl: 36px;
--fontSize-3xl: 30px;
--fontSize-2xl: 24px;
--fontSize-xl: 20px;
/* borderRadius */
--borderRadius-none: 0px;
--borderRadius-full: 9999px;
--borderRadius-rounded: 4px;
--borderRadius-sm: 2px;
--borderRadius-md: 6px;
--borderRadius-lg: 8px;
--borderRadius-xl: 12px;
--borderRadius-2xl: 16px;
/* opacity */
--opacity-25: 0.0025;
--opacity-30: 0.003;
--opacity-50: 0.005;
--opacity-70: 0.006999999999999999;
--opacity-75: 0.0075;
--opacity-90: 0.009000000000000001;
--opacity-95: 0.0095;
--opacity-100: 100;
/* maxWidth */
--maxWidth-max-w-7xl: 1280px;
--maxWidth-max-w-6xl: 1152px;
--maxWidth-max-w-5xl: 1024px;
--maxWidth-max-w-4xl: 896px;
--maxWidth-max-w-3xl: 768px;
--maxWidth-max-w-2xl: 672px;
--maxWidth-max-w-xl: 576px;
--maxWidth-max-w-lg: 512px;
--maxWidth-max-w-md: 448px;
--maxWidth-max-w-sm: 384px;
--maxWidth-max-w-xs: 320px;
/* screens */
--screens-sm: 640px;
--screens-md: 768px;
--screens-lg: 1024px;
--screens-xl: 1280px;
--screens-2xl: 1536px;
/* primitives */
--mode 1-primitives-base-font-color: #1B1B18;
/* fontFamilies */
--mode 1-fontFamilies-lora: Lora;
--mode 1-fontFamilies-ptserif: PT Serif;
--mode 1-fontFamilies-montserrat: Montserrat;
}
